



.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10%;
    margin: auto;
}

.card{
    width: 350px;
    height: 430px;
    border: 1px solid gray;
    margin-top: 5%;
    margin: auto;
}

img{
    width: 350px;
    height: 200px;
}

a{
    cursor: pointer;
    text-decoration: none;
}

@media (max-width: 320px) {
    .container{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    img{
        width: 150px;
        height: 30px;
    }
    .card{
        width: 150px;
        height: 230px;
    }
    p{
        font-size: medium;
    }
}

@media (min-width: 901px) {
    img{
        width: 350px;
        height: 200px;
    }
    .card{
        width: 350px;
        height: 430px;
    }
    p{
        font-size: medium;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    img{
        width: 250px;
        height: 130px;
    }
    .card{
        width: 250px;
        height: 380px;
    }
    p{
        font-size: medium;
    }
}
